body{
    font-size: 40px;
    color: #000000;
    background-color: #ffffff;
    margin: 0 auto;
}

header {
    max-width: 1600px;
    padding: 0 10px;
    margin: 0 auto;
    align-items: center;
}

.menu__list{
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
    padding: 30px 0;
    margin: 0;
}

.main {
    max-width: 2000px;
    padding: 0 auto;
    margin: 0 auto;
    align-items: center;
    background-image: url(img/img1.jpg);
    background-position: center center;
    background-size: cover;
}

.content{
    text-align: center;
    color: #000000;
    line-height: 1.15;
    min-height: 700px;
}

.title {
    font-size: 128px;
    padding-top: 50px;
    margin: 0;
}

.text{
    font-size: 40px;
    padding-top: 40px;

}

.end{
    padding: 50px;
}


.button{
    padding: 50px 40px;
    background-color: #9FE567;
    border-radius: 173px;
    font-size: 96px;
    text-align: center;
    color: green;
}





.main2{
    max-width: 1800px;
    padding: 20px 10px;
    margin: 0 auto;
    align-items: center;
    background-image: url(img/img2.webp);
    background-position: center center;
    border-radius: 50px;
    background-size: 100vw 100vh;
}

.buttom1, .buttom2, .buttom3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 70px 10px 70px;
    background-color: #EBEBEB;
    opacity: 0.7;
    border-radius: 50px;
    width: 265px;
    height: 50px;
    margin: 10px;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.end2{
    padding: 20px 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.buttom4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9FE567;
    border-radius: 50px;
    width: 450px;
    height: 100px;
    margin: 10px;
    font-size: 48px;
    text-align:center;
    color: #000000;
}

.circle-wrap {
  margin: 150px auto;
  width: 300px;
  height: 300px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 150px, 300px, 0px);
  background-color: #9FE567;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 300px, 300px, 150px);
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}

/*.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #ffffff;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #9FE567;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  <div class="inside-circle"></div>
}
